/*|| General styles*/
.red-border {
    border: 1px solid red;
}



:root {
    --darkBlue: #002256;
    --blue: #224694;
    --neonBlue: #00D4FA;
    --lightBlue: #D9F9FF;
    --CTAred: #C73214;
    --CTAorange: #FA7A3E;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    
    box-sizing: inherit;
    }



html {
    font-size: 62.5%;  /*10px*/
    
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    background-color: #F6F7FB;
}


/* || Font ad text */

h1, h2, h3, h4 {
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 1rem 0;
    color: #002256;

}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.5rem;
    
    text-align: center;
}


h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

p, a, li {
    font-size: 1.4rem;
    max-width: 75ch;
}



.subheading {
    padding: 2rem 0;
    font-size: 2rem;
    color: rgb(22, 22, 22);
}

.uppercase {
    text-transform: uppercase;
}

.white-text {
    color: white;
}






/*|| Utilities*/

/* || layout */


.flex {
    display: flex;
    /* gap: var(--gap, 4rem); */
}

.center {
    justify-content: center;
    align-items: center;

}

.row-container {
    flex-flow: row wrap;
}

.col-container {
    flex-flow: column;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
}



.no-underline{
    text-decoration: none;
    
}

.bg-skew {
    transform: skewY(4deg);
}

.bg-no-skew {

    transform: skewY(-4deg);
}



.bg-blue {
    background-color: var(--blue);
}

.bg-darkBlue {
    background-color: var(--darkBlue);
}

.bg-gradient {
    background: linear-gradient(181.04deg, #224694 -39.03%, rgba(0, 212, 250, 1) 142.12%);
}


/* || buttons */

.btn {
    position: relative;

    align-items: center;
    justify-content: center;
    color: white;

    
    width: fit-content;
    height: fit-content;
    
}


.btn-style {
    background: linear-gradient(90deg, #224694 0%, #C73214 138.69%);
    z-index: 2;
}

.btn-style::before {
    content: "";
    inset: 0;
    position: absolute;
    background: linear-gradient(90deg, #224694 -52.76%, #00D4FA 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.btn-style:hover::before {
    opacity: 1;
}


.btn-primary {
    margin: 3rem 0;
    padding: 1rem 4rem;
}


.btn-secondary {
    margin:  3rem 0;
    padding: .8rem 2.5rem;
}

.card-btn {
    bottom: 0;
    justify-content: flex-end;
    width: 100%;
    background: linear-gradient(to right bottom, #fff 35%, var(--lightBlue) 49%, var(--darkBlue) 50%, var(--darkBlue) 50%);
    opacity: 1;
}


.card-btn p {
    padding: 1rem;
    margin-top: 1rem;
    color: #fff;

}

/* || components */




.divider-bottom-light {
    grid-area: 6 / 3 / 7 / 7;
    width: 75vw;
    height: 25vh;
    background: linear-gradient(to right bottom, transparent 49%, transparent 40%, rgba(0, 212, 250, 0.75) 50%, rgba(0, 212, 250, 0.75)  50%);
}

.divider-bottom-dark {
    grid-area: 6 / 1 / 7 / 7;
    width: 75vw;
    height: 25vh;
    background: linear-gradient(to left bottom, transparent 49%, transparent 40%, rgba(34, 70, 148, 0.8) 50%, rgba(34, 70, 148, 0.8) 50%);
}

.right-top-divider {
    position: relative;
    padding: 5rem;
    background: linear-gradient(to right bottom, transparent 49%, transparent 40%, var(--darkBlue) 50%, var(--darkBlue)  50%);
    transform: skewY(4deg);
    width: 75vw;
    margin-left: 25vw;
    margin-bottom: -2%;
    
}

.left-bottom-divider {
    position: relative;
    padding: 5rem;
    background: linear-gradient(to left top, transparent 49%, transparent 40%, var(--darkBlue) 50%, var(--darkBlue)  50%);
    transform: skewY(4deg);
    width: 75vw;
    margin-top: -1%;
    
}






/*|| navigation */


.topbar {
    padding: 1rem 5rem;
    position: fixed;
    height: max-content;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9999;
    
}
/* 
.topbar.scrolled {
    background: linear-gradient(180deg, #224694 1.65%, #00D4FA 124.21%);
    max-width: calc(100vw - 1.5rem);
}

.topbar.scrolled a {
    color: white;
} */


#toggleBtn { 
    color: #002256;
    
}
/* 
.topbar.scrolled #toggleBtn { 
    color: white;
    
} */

@supports (backdrop-filter: blur(3px)) {
    /* .topbar.scrolled {
        background: linear-gradient(180deg, #224694 1.65%, rgba(0, 212, 250, 0.4) 124.21%);
        backdrop-filter: blur(3px);

    } */

    .topbar {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
    }

}




.nav-menu li:last-child {
    border-bottom: none;
}

.nav-menu {
    position: fixed; 
    inset: 0 0 0 40%;
    background: linear-gradient(180deg, #224694 1.65%, #00D4FA 124.21%);

    height: 100vh;
    flex-direction: column;
    padding: min(30vh, 15rem) 0;
    z-index: 1000;
 
    transform: translateX(100%); 
}

.nav-menu.activated {
    transition: transform 500ms ease-out;
}

.nav-menu.hide {
    display: none;
}





.nav-menu[data-visible = "true"] {
    transform: translateX(0%);
}


.mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 3rem;

    border: none;
    border-radius: 1rem;

    background: transparent;
    width: 3rem;
    aspect-ratio: 1;
    z-index: 9999;

    cursor: pointer;

}

.mobile-nav-toggle i {
    color: white;
    
}


.mobile-nav-toggle[aria-expanded = "true"] .menu-icon{
    display: none;
}

.mobile-nav-toggle[aria-expanded = "false"] .close-icon{
    display: none;
} 



@supports (backdrop-filter: blur(3px)) {
    .nav-menu {
        background: linear-gradient(180deg, #224694 1.65%, rgba(0, 212, 250, 0.6) 124.21%);
        backdrop-filter: blur(3px);

    }

}


.nav-menu li {
    border-bottom: 1px solid var(--neonBlue);
}

.nav-menu li {
    display: block;
    float: left;
    cursor: pointer;
    position: relative;
    padding: 2rem 2rem;
    
    border-bottom: 1px solid var(--neonBlue);
    
    transition: all 0.5s ease-in;
}

.nav-menu li:focus-within, 
.nav-menu li:hover {
    background-color: #002256;
}


.nav-menu li a:focus-within, 
.nav-menu li:hover > a {
    color: var(--neonBlue);
}

.triangle-icon {
    font-size: 1rem;
}


.nav-menu li:hover .triangle-icon {
    transform: rotate(90deg);
    transition: .5s;
}

/* dropmenu nav */


.nav-menu li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
    margin-top: 2rem;
    
    pointer-events: none;
    z-index: 2;

    left: 0;
    transition: all .5s ease;

}

.nav-menu li:hover > ul, 
.nav-menu li:focus-within > ul,
.nav-menu li ul:hover {
    position: inherit;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.dropdown li {
    clear: both;
    width: 100%;
    border-bottom: 1px solid var(--neonBlue);
  }



  .nav-menu  li:focus-within a {
    outline: none;
  }



.nav-menu  li a {
    color: white;
    transition: color .2s ease-in;
}

.nav-menu li a:focus, 
.nav-menu li a:hover {
    color: var(--neonBlue);
}

.nav-menu li a:active {
    color: #78ccdb;
}


.footer-menu {
    list-style-type: none;
    width: 100vw;
    background-color: var(--darkBlue);

}

.footer-menu ul {
    justify-content: space-around;
    padding: 1rem;
}

.footer-menu li {
    list-style-type: none;

}


.footer-menu li a:hover {
    font-style: italic;
}

/* || Sections */

section {
    width: 100vw;
    height: 100%;
    min-height: 100vh;

    position: relative;
    padding: 3rem;

    
}

/*|| Header section*/


/* || Page hero */
.page-hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;


    background: url(/media/pictures/woman.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}


.heading {
    grid-area: 2 / 1 / 6 / 6;
    position: relative;
    left: 0;
    padding: 3rem;
    box-shadow: inset 36.3333px -36.3333px 36.3333px rgba(165, 165, 165, 0.056), inset -36.3333px 36.3333px 36.3333px rgba(255, 255, 255, 0.056);
    

    border-radius: 0 1rem 1rem 0;
}












/*|| Services section */

.card {
    width: 17rem;
    margin: 3rem;
    background: white;

    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.15);
}

h3 .card {
    z-index: 2;
}

.card a {
    color: #002256;
}


.card:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.card-link {
    width: inherit;
}


.circle {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 15rem;
    margin: 3.5rem;

    background: white;
    border: 5px solid var(--lightBlue);
    box-shadow: 0 0 0 2px rgba(0, 212, 250, 0.3);
}

.card:hover .circle {
    box-shadow: 0 0 0 2px var(--lightBlue);
}



/* || about section */


.container {
    padding: 3rem;
}



.text-wrapper {
    width: 75vw;
    background: white;
    padding: 2rem 4rem;

}


.container-img {
    height: 25vh;
    width: 75vw;
    padding: 5rem;
}

.container-img-about {
    background: url(/media/pictures/meter-solutions.png) center no-repeat;
    background-size: cover;
}

/* || reasons section */

.container-img-reason {
    background: url(/media/pictures/meraky.png) no-repeat;
    background-position: 25%;
    background-size: cover;
}

.item-list li {
    padding: 1rem;
    list-style-type: none;
    position: relative;
    text-align: left;
}

.item-list li::before {
    content: "\2022";
    display: inline-block;
    font-weight: bold;
    width: 2rem;
    margin-left: -2rem;
    color: var(--CTAred);

}


/* || Footer */

footer {
    
    width: 100vw;
    height: 100%;

    position: relative;
}

footer a {
    color: white;
}

.footer-content {
    padding: 3rem;
    justify-content: space-around;
}


footer .circle {
    width: 5rem;
    height: 5rem;
    border-radius: 15rem;
    margin: 1.5rem;
    background: white;
    border: 5px solid var(--lightBlue);
    box-shadow: 0 0 0 2px rgba(0, 212, 250, 0.3);
}

footer .circle:hover {
    box-shadow: 0 0 0 2px var(--lightBlue);
}






/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 36em) {
    
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 36em) {
    
    
}


/*Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 48em) { 

    html {
        font-size: 67%;
    }
    
    .heading {
        grid-area: 3 / 1 / 5 / 4;

}

/* TopNav */

    .mobile-nav-toggle {
        display: none;
    }

    .nav-menu {
        position: fixed;
        padding: 0;
        transform: translateX(0%);
        flex-direction: row;
        justify-content: flex-end;

        inset: 0;
        height: fit-content;
        background: transparent;
        
        backdrop-filter: none;

        /* gap: var(--gap, 3rem); */
    }

    .nav-menu li {
        border-bottom: none;
        
    }

    .nav-menu li:hover > ul, 
    .nav-menu li:focus-within > ul,
    .nav-menu li ul:hover {
    position: absolute;
    background: linear-gradient(180deg, #224694 1.65%, #00D4FA 124.21%);
}

.nav-menu li a {
    color: var(--darkBlue);
    transition: color .2s ease-in;
}




.nav-menu li:focus-within, 
.nav-menu li:hover {
    background: transparent;
}

.dropdown li a {
    color: white;
}

.dropdown li:hover {
    background: var(--darkBlue);
}

/* Sections */
.bg-no-skew {
    margin-top: 3rem;
}




.container-img {
    min-height: 30vh;


 }

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 62em) {
    
    html {
        font-size: 70%;
    }

    .card-btn {
        
        background: linear-gradient(to right bottom, #fff 49%, #fff 40%, var(--darkBlue) 50%, var(--darkBlue) 50%);
        opacity: 0;
        transition: all 1s ease;
    }
    
    .card:hover .card-btn {
        background: linear-gradient(to right bottom, #fff 35%, var(--lightBlue) 49%, var(--darkBlue) 50%, var(--darkBlue) 50%);
        opacity: 1;
    }

    
    .card-btn {
        
        background: linear-gradient(to right bottom, #fff 49%, #fff 40%, var(--darkBlue) 50%, var(--darkBlue) 50%);
        opacity: 0;
        transition: all 1s ease;
    }
    
    .card:hover .card-btn {
        background: linear-gradient(to right bottom, #fff 35%, var(--lightBlue) 49%, var(--darkBlue) 50%, var(--darkBlue) 50%);
        opacity: 1;
    }

    
.container {
    text-align: center;
    flex-wrap: nowrap;
    width: 75vw;
    max-width: 1180px;
    position: relative;
}


.text-wrapper {
    width: calc(35.5% + 10rem);
    min-height: 35rem;
    z-index: 2;

}


.container-img {
    width: calc(35.5% + 10rem);
    min-height: 35rem;
    background-position: 60%;
}

    
    
 } 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {

    html {
        font-size: 75%;
    }



.text-wrapper {
    position: absolute;
    top: 3rem;
    left: 5rem;

}


.container-img {
    position: relative;
    margin: 5rem 0 0 35rem;
}

};
 }